.FilterSection {
    display: grid;
    justify-items: start
}

@media (min-width: 700px) {
    .FilterSection {
        gap: 20px;
        grid-template-columns: 335px 335px;;
        padding: 40px 0;
    }
}

@media (max-width: 700px) {
    .FilterSection {
        gap: 16px;
        grid-template-rows: 1fr 1fr;
        padding: 32px 0;
    }
}