.Card {
    display: grid;
    grid-template-rows: auto auto auto auto;
    border-radius: 10px;
    padding: 24px;
    background-color: white;

}

.Card-Date {
    padding-bottom: 0;
    font-size: 12px;
    color: #10B2D0;
}

.Card-Title {
    display: grid;
    align-self: start;
    margin: 8px 0 16px 0;
    color: #888888;
    cursor: pointer;
}

.Card-Title:hover {
    transition: .5s;
    color: #6C6C6CFF;
}

.Card-Description {
    color: #888888;
    font-size: 16px;
}

.Card-Author {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 24px;
    border-radius: 10px;
    padding: 8px 20px;
    width: 125px;
    background-color: #DBE2EF;
    color: #0050EF;
}