.DatePicker {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    background: white;
    color: #888888;
}

.Dash {
    width: 10px;
}

.react-date-picker__wrapper {
    border: 0;
    padding: 16px 16px;

}

.react-date-picker__inputGroup__input {
    color: #888888;
}
