.Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    height: 88px;
}

.Header-Logo {
    align-self: start;
    width: 120px;
    height: 30px;
}

.Contact {
    color: #888888;
    text-decoration: none;
}

.Header-Contacts {
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr;
}

.Contact:hover {
    color: #696969;
    transition: 1s;
}

@media (min-width: 700px) {
    .Header {
        margin: 0 9%;
    }

    .Header-Contacts {
        gap: 40px;
    }

    .Header-Contacts_image {
        display: none;
    }
}

@media (max-width: 700px) {
    .Header {
        margin: 0 4%;
    }

    .Header-Contacts {
        gap: 16px;
    }

    .Header-Contacts_contact {
        display: none;
    }

    .Header-Contacts_image {
        display: block;
        width: 22px;
        height: 22px;
    }

    .Email {
        background-image: url("./../../assets/mail.png");
    }

    .Phone {
        background-image: url("./../../assets/phone.png");
    }

}